{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 80, 2, {"ignoreComments": true}],
    "react/prop-types": [0],
    "react/prefer-stateless-function": [0],
    "import/extensions": [0],
    "react/jsx-no-bind": [0],
    "react/no-find-dom-node": [0],
    "react/no-did-mount-set-state": [0],
    "jsx-a11y/anchor-has-content": [0]
  },
  "env": {
    "browser": true
  }
}
